.turnbox-wrapper {
  padding: 0 0 10px;
  text-align: center;
}
.imagefield-turn-turnbox {
  background: #f7f7f7;
  display: table;
  padding: 40px;
  margin: 0 auto;
}
.field-widget-turn-orig-image-widget .fieldset-legend span.summary {
  color: #000;
}
.field-type-image .imagefield-turn-turnbox img {
  margin: 0;
  vertical-align: middle;
  cursor: url("../img/cursor-turn.png"), pointer;
}
img.turnbox-90 {
  -webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
  -moz-transform: rotate(90deg);  /* Firefox 3.5-15 */
  -ms-transform: rotate(90deg);  /* IE 9 */
  -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
  transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
img.turnbox-180 {
  -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
  -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
  -ms-transform: rotate(180deg);  /* IE 9 */
  -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
  transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
img.turnbox-270 {
  -webkit-transform: rotate(270deg);  /* Chrome, Safari 3.1+ */
  -moz-transform: rotate(270deg);  /* Firefox 3.5-15 */
  -ms-transform: rotate(270deg);  /* IE 9 */
  -o-transform: rotate(270deg);  /* Opera 10.50-12.00 */
  transform: rotate(270deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
